{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="singleTask my-md">
    <div class="container">
<div class="card text-center">
  <div class="card-header">

    Answer from {{submit.user.name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Answer</h5>
    <p class="card-text">{{submit.answer|linebreaks}}</p>
      {% if submit.submitURL%}
    <a href="{{submit.submitURL}}" class="btn btn-primary">download</a>

      {% endif %}
  <a href="{% url 'create-message' submit.user.id %}" class="btn btn-primary">Send Message </a>
  </div>
  <div class="card-footer text-muted">
    {{submit.created}}
  </div>
</div>
{#                <a href="{% url 'user-profile' submit.user.id  %}"#}
{#                    class="singleDemomethod__member">{{submit.user.name}}</a>#}
{#                <h2 class="singleDemomethod__subtitle">Answer</h2>#}
{#                <h4 class="singleDemomethod__info">#}
{#                    {{submit.answer}}#}
{#                </h4>#}
{#                <h4 class="singleDemomethod__title">Remark from {{ submit.user.name }}: {{submit.remark}}</h4>#}
{#                <div class="reacts">#}
{#                    <h3 class="singleTask__subtitle">Feedback</h3>#}
{#                    <h5 class="task--rating">#}
{#                        {{task.vote_ratio}}% Positive Feedback ({{task.vote_total}}#}
{#                        Vote{{task.vote_total|pluralize:"s"}})#}
{#                    </h5>#}
{##}
{##}
{#                   #}
{##}
{#                    </div>#}
{#                </div>#}
{#            <div class="column column--1of3"> </div>#}
{#            </div>#}
        </div>
    </div>
    </div>
</main>

{% endblock %}