{% load static %}
{% load filters %}
<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'posts' %}" class="header__logo">
{#            <img src="{% static 'images/logo.svg' %} " alt="Ekhdm Logo" />#}
{#            Home#}
        </a>

        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
{#                <li class="header__menuItem"><a href="{% url 'profiles' %}">Developers</a></li>#}

{#                    <li class="header__menuItem"><a href="{% url 'lessons' %}"></a></li>#}

{#                    <li class="header__menuItem"><a href="{% url 'rites' %}">طقس</a></li>#}
                {% if request.user.is_authenticated %}

                    <li class="header__menuItem"><a href="{% url 'demomethods' %}">وسائل الايضاح</a></li>
                    <li class="header__menuItem"><a href="{% url 'books' %}">Books</a></li>


                    <li class="header__menuItem dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          كنيستنا
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for lessonType in a|types:1 %}
                                <li><a class="dropdown-item" href="{% url 'lessons' lessonType.id%}">{{ lessonType }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>


                    {% for group in request.user.groups.all %}
                    <li class="header__menuItem dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {{group}}
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        {% if request.user.groups.all|containGroup:'اسرة اعداد خدام - مخدومين'%}
                            <li><a class="dropdown-item" href="{% url 'tasks' %}">Tasks</a></li>
                            <li><a class="dropdown-item" href="{% url 'main_view' %}">Quizes</a></li>
                            <li><a class="dropdown-item" href="{% url 'note' %}">Add Note</a></li>
                        {% endif %}

                        {% if request.user.groups.all|containGroup:'اسرة اعداد خدام' %}
                            <li><a class="dropdown-item" href="{% url 'manage-quizes' %}">Quizes</a></li>
                            <li><a class="dropdown-item" href="{% url 'makhdomen' ' ' %}">مخدومين</a></li>
                            <li><a class="dropdown-item" href="{% url 'tasks' %}">Tasks</a></li>
                        {% endif %}

                      </ul>
                    </li>
                    {% endfor %}

                    <li class="header__menuItem"><a href="{% url 'inbox' %}">Inbox</a></li>
                    <li class="header__menuItem"><a href="{% url 'account' %}">Account</a></li>
                    <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
                    {% else %}

                    <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>